/*!
 * Author: vantolbennett
 * Project: food-event-app
 * File: SignIn.scss
 * Class: SignIn.scss
 * Copyright (c) 2019.
 * <www.tecode.io>
 */

.sign-in {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 10px 0;
}